
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Tandem Global</title>
 
  </head>

  <body>
    <!-- <style> -->
  <div style="background-color: #ececec;padding:100px;">
    <table class="body" style="background-color:#fff;">
    <tbody style="background-color: #fff;">
      <tr>
        <th> <img style="padding-left:30px;float:left;width:100px;height:auto;margin-top:40px;" src="http://tandem.pythonanywhere.com/static/images/logo.png"> </th>
      </tr>
       
       <tr><td>
            <table class="row" style="padding:100px 50px 50px 30px;width:750px;text-align: left;">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table style="background-color: #fff;width:93%;padding-left:5%;padding-right:2%; ">
                              <tr>
                                <th>
                                  <h1 style="text-align: justify;font-size:18px;">Hello</h1>
                                  <p style="text-align: justify;" class="lead">There is an enquiry from someone. Please do the needful.</p>
                                  
                                </th>
                              </tr>
                               
                               <tr>
                                  <td class="callout-inner primary" style="background-color:#ffe07b;margin-bottom:3px;">
                                     <p style="color:#0f62ac;padding:10px 10px 5px 10px;text-decoration-style:none;">Name: {{ contact_name }}</p>
                                  </td>
                               </tr>
                              
                               <tr>
                                  <td class="callout-inner primary" style="background-color:#ffe07b;margin-bottom:3px;">
                                     <p style="color:#0f62ac;padding:10px 10px 5px 10px;text-decoration-style:none;">email : {{ contact_email }}</p>
                                  </td>
                               </tr>

                               <tr>
                                  <td class="callout-inner primary" style="background-color:#ffe07b;margin-bottom:3px;">
                                     <p style="color:#0f62ac;padding:10px;">Phone :{{ contact_phone }}</p>
                                  </td>
                               </tr>

                               <tr>
                                  <td class="callout-inner primary" style="background-color:#ffe07b;">
                                     <p style="color:#0f62ac;padding:10px;">Source:tandemglobal.com</p>
                                  </td>
                               </tr>
                                 <tr>
                                  <td class="callout-inner primary" style="background-color:#ffe07b;">
                                     <p style="color:#0f62ac;padding-left:10px;">Enquiry Details</p>
                                     <p style="color:#0f62ac;padding:10px;padding-top:2px">{{ form_content|safe|striptags }}</p>
                                  </td>
                               </tr>
                               <tr>     
                                <th class="expander"></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table></td>
       </tr>
   </tbody>
    </table>
  </div>                
                
  </body>

</html>