{% extends '../base/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load solo_tags %}
{% block content %}

{% get_solo 'posts.SiteConfiguration' as site_config %}

 
     <section id="aboutBanner">
         <h2 style="font-size: 40px;">About Us</h2>
     </section>

     <section id="brandstrip">
      <div class="container-fluid">
        <div id="strip-row" class="row-fluid">
           <div class="col-md-6 col-xs-6 yellow-strip"></div>
           <div class="col-md-6 col-xs-6 blue-strip"></div>
          
         
        </div>
      </div>
    </section>
     

    <section id="about-content">

         <div class="container">
           


              <div class="row" style="background-color:#f2f2f2;" >
                          <div id="about_text" class="col-md-6 columns">
                              <div class="wow fadeInLeft">
                                <h2 class="titile">About Us</h2>
                               {{site_config.aboutus_text|linebreaks}}
                                

                                
                              </div>
                            </div>
                          <div class="col-md-6 columns">
                            
                            <!-- <img class="about-tandem img-responsive" style="padding:5%;height:350px;margin-left:60px;" src="{% static 'images/about-tandem.jpg' %}"/> -->
                            <object data="../{{ site_config.about_tandem_image.url }}" type="image/png" style="padding:5%;height:300px;margin-left:60px;">
                             
                                 <img class="about-tandem img-responsive" style="padding:5%;height:300px;margin-left:60px;" src="{% static 'images/about-tandem.jpg' %}"/>
                            </object>
                              
                            </div>
                          </div>
         </div>              
        



</section>

  <section id="whytandem-content">

         <div class="container">
           


              <div class="row" style="background-color:#0f63ac;" >
                          <div id="why-graphic-container"  class="col-md-6 col-sm-6 columns">
                              
                               
                              <!--   <div id="why-graphic"><span id="tandem-qn-text"><h1>Why</h1><h2>Tandem</h2></span><span id="tandem-question">?</span></div> -->
                                <img class="about-tandem img-responsive" style="padding:5%;height:191px;margin-left:60px;" src="{% static 'images\why-tandem.jpg' %}"/>

                                
                          </div>
                          
                          <div class="col-md-6 col-sm-6 columns">
                              
                            <div id="why-slogan-container" style="color:#fff;" >
                              <ul>
                                {% for slogan in slogans %}
                                <li>{{slogan.title}}</li>
                                {% endfor %}

                              </ul>
                            </div>
                              
                          </div>
              </div>
         </div>              
        



</section>











  
    
{% endblock %}  