{% extends '../base/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}

 
     <section id="imgBanner">
         <h2 style="font-size: 40px;">Contact Us</h2>
     </section>

     <section id="brandstrip">
      <div class="container">
        <div id="strip-row" class="row">
           <div class="col-md-6 col-xs-6 blue-strip"></div>
          <div class="col-md-6 col-xs-6 yellow-strip"></div>
         
        </div>
      </div>
    </section>
     

    <section id="contact-content">

         <div class="container">
           
             <div class="row" >

                    <ul id="tab">
                        {% for center in centers %}
                          <li>{{center.location}}</li>
                        {% endfor %}
                         
                    </ul>
                        


              </div>
              <!-- #wrapper -->
            <div id="wrapper"> 
              
            
               {% for center in centers %}

               <div class="contents">
                  <!-- <div id="news-tab-row" class="row"> -->
                    
                    <div class="row" style="background-color:#fff;" >
                            <!-- <div class="col-md-2 columns" >
                              <h2 style="text-align:center;padding:5%;margin-top:20%;">{{center.location}}</h2>
                            </div> -->
                            <div class="col-md-3 columns" style="text-align:center;padding:5%;" >
                              <h4 style="text-align:center">{{center.address_line1}}</h4>
                              <h4 style="text-align:center">{{center.address_line2}}</h4>
                              <h4 style="text-align:center">{{center.address_line3}}</h4>
                              <h4 style="text-align:center">{{center.address_line4}}</h4>
                              <h4 style="text-align:center">{{center.email}}</h4>
                            </div>
                            <div class="col-md-3 columns" style="text-align: center;text-transform:uppercase;padding:5%">

                                  {% for division in divisions %}
                                    {% for contact in contacts %}
                                      {% if contact.center == center and contact.division == division %}
                                         {% ifchanged %}
                                          <b>{{division.title}} Division</b>
                                         {% endifchanged %}
                                        <h5>{{contact.name}} {% if contact.title %} ({{contact.title}}) {% endif %} {% if contact.phone %} : {{contact.phone}} {% endif %}</h5>
                                      {% endif %}  
                                    {% endfor %}
                                  {% endfor %}   
                            </div>
                           <div class="col-md-6 columns">
                            
                            <div id="map" class="map-content">
                              
                            </div>
                          </div>
                          </div>
                       
               </div>
               {% endfor %}
             
 
            
           
          
            </div>

              <div class="row" style="background-color:#f2f2f2;" >
                          <div class="col-md-12 columns" style="background-color:#f2f2f2;height:400px;">

                             <form role="form" action="" method="post" style="padding:10%;margin-left:50px;">
                                 <h2 style="text-align:center;margin-right:15%;text-transform: uppercase;"> Connect With Us</h2>
                               {% csrf_token %}
                                  <div class="row form-group">
                                    <div class="col-md-12">
                                    {% render_field form.contact_name class+="form-control" placeholder="Your Name"%}
                                    
                                      <!-- <input type="text" id="name" class="form-control" placeholder="Your Name"> -->
                                
                                    </div>
                                    
                                  </div>

                                  <div class="row form-group">
                                    <div class="col-md-12">
                                      {% render_field form.contact_phone class+="form-control" placeholder="Your Phone"%}
                                     <!--  <input type="text" id="phone" class="form-control" placeholder="Your phone number"> -->
                                    </div>
                                  </div>

                                  <div class="row form-group">
                                    <div class="col-md-12">
                                      {% render_field form.contact_email class+="form-control" placeholder="Your email"%}
                                      <!-- <input type="text" id="email" class="form-control" placeholder="Your email address"> -->
                                    </div>
                                  </div>

                                 

                                  <div class="row form-group">
                                    <div class="col-md-12">
                                      {% render_field form.course_details class+="form-control" placeholder="ContactDetails" %}
                                      <!-- <textarea name="message" id="message" cols="30" rows="4" class="form-control" placeholder="Course Details"> --><!-- </textarea> -->
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <input type="submit" value="SUBMIT" class="mrex-formbtn btn-primary">
                                  </div>

                                </form> 
                          </div>
                          
                  </div>


           
        
        
                  
           
    </div>


</section>




  
    
{% endblock %}  