{% extends '../base/base.html' %}
{% load staticfiles %}
{% block content %}

 
     <section id="imgBanner">
         <h2 style="font-size: 40px;">Courses</h2>
     </section>

     <section id="brandstrip">
      <div class="container">
        <div id="strip-row" class="row">
           <div class="col-md-6 col-xs-6 yellow-strip"></div>
           <div class="col-md-6 col-xs-6 blue-strip"></div>
          
         
        </div>
      </div>
    </section>
     

    

    <section id="course-content">
     <div class="container">
      <div class="row">
        <div class="col-md-3 columns">
            
                <div class="nav-side-menu">
                        <div class="brand">Courses</div>
                        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                      
                            <div class="menu-list">
                                  {% if streams %}
                                    
                                <ul id="menu-content" class="menu-content out collapse in">
                                  <!--   <li>
                                      <a href="#">
                                      <i class="fa fa-dashboard fa-lg"></i> Dashboard
                                      </a>
                                    </li> -->
                                   {% for stream in streams%}

                                    {% if selected_course.category.stream.title == stream.title %} 

                                        <li  data-toggle="collapse" data-target="#{{stream.title}}" class="active" aria-expanded="true">
                                          <a href="#"><!-- <i class="fa fa-gift fa-lg"> </i> -->{{stream.title}} <span class="arrow"></span></a>
                                        </li>
                                        <ul class="sub-menu collapse in" id="{{stream.title}}" aria-expanded="true">
                                        {% else %}

                                        <li  data-toggle="collapse" data-target="#{{stream.title}}" class="collapsed">
                                          <a href="#"><!-- <i class="fa fa-gift fa-lg"> </i> -->{{stream.title}} <span class="arrow"></span></a>
                                        </li>
                                        <ul class="sub-menu collapse" id="{{stream.title}}">
                                    {% endif %}
                                       
                                    
                                    {% for course_categorie in course_categories %}          
                                      {% for course in courses %}
                                       {% if course.category == course_categorie and course.category.stream == stream %}
                                        {% ifchanged %}
                                
                                            <li class="nav-side-menu-category">{{course.category.title}}</li>{% endifchanged %}
                                             {% if selected_course == course %} <li class="active"><a href="{% url 'course_detail' pk=course.pk %}">{{course.title}}</a></li>{% else %}
                                            <li><a href="{% url 'course_detail' pk=course.pk %}">{{course.title}}</a>{% endif %}
                                            </li>
                                        <!-- <li><a href="#">{{course.title}}</a></li> -->
                                          {% endif %}
                                          {% endfor %}
                                            {% endfor %}
                                        </ul>
                                        

                                    <!-- <li data-toggle="collapse" data-target="#service" class="collapsed">
                                      <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
                                    </li>  
                                    <ul class="sub-menu collapse" id="service">
                                      <li>New Service 1</li>
                                      <li>New Service 2</li>
                                      <li>New Service 3</li>
                                    </ul>


                                    <li data-toggle="collapse" data-target="#new" class="collapsed">
                                      <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
                                    </li>
                                    <ul class="sub-menu collapse" id="new">
                                      <li>New New 1</li>
                                      <li>New New 2</li>
                                      <li>New New 3</li>
                                    </ul>


                                     <li>
                                      <a href="#">
                                      <i class="fa fa-user fa-lg"></i> Profile
                                      </a>
                                      </li>

                                     <li>
                                      <a href="#">
                                      <i class="fa fa-users fa-lg"></i> Users
                                      </a>
                                    </li> -->
                                     {% endfor %}
                                </ul>
                               
                                {% endif %}
                         </div>
                    </div>


        </div>
      
        <div id="course_details" class="col-md-6 columns">
             {% if selected_course.document %}
                <a href="../../../{{selected_course.document.file.url}}" class="btn btn-download" role="button">Download</a> 
              {% endif %}
            <div>
            {% if selected_course.published_date %}
                <div class="date">
                    Last Updated On: {{ selected_course.published_date }}
                </div>
            {% endif %}
            <h3>{{ selected_course.title }}</h3>
            <h4>{{ selected_course.category.stream }} > {{ selected_course.category.title }}</h4>
            
            
           
            <div style="padding:30px;font-family:AurulentSans">{{ selected_course.details_text|safe }}</div>
          </div>
          
        </div>

        <div class="col-md-3 columns" > 
        <!-- End Our courses content -->
            <div style="border-style: solid;border-width:1px;border-color: black;background-color: #181c20;color:#fff;margin-right:30px;margin-top: 15px;"><h4 align="center">Related Courses</h4>
              <div id="course-carousel" class="owl-carousel owl-theme" >

            {% for course in courses %}
              {% if course.category == selected_course.category and course.category.stream == selected_course.category.stream %}
              <a href="{% url 'course_detail' pk=course.pk %}">
                <div class="item outer-box">
                <img src="../../{{course.background.url}}">
                    <div class="inner-box"><h5>{{course.title}}</h5>
                     <div><h6>{{ selected_course.category.stream }} > {{ selected_course.category }}</h6></div>
                    </div>
                </div>
              </a>
              {% endif %}
            {% endfor %}
          </div>
          </div>
            <!--  <div><img src="../../{{selected_course.background.url}}"></img></div> -->
             <div style="margin-top:20px;margin-right:30px;background-color: #2b76b9; color:#fff; padding: 10px;text-align:center;"><h4>Time Schedule</h4></div>
             <div style="margin-right:30px;background-color: #fff;padding: 15px;">{{ selected_course.schedule_text|safe  }}</img></div>


        </div>
      </div>
      </div>
    </section>



      
   
      
     
    
    <!--=========== END STUDENTS TESTIMONIAL SECTION ================-->  


  
    
{% endblock %}  