{% extends '../base/base.html' %}
{% load staticfiles %}
{% block content %}

 
     <section id="imgBanner">
         <h2 style="font-size: 40px;">Courses</h2>
     </section>

     <section id="brandstrip">
      <div class="container-fluid">
        <div id="strip-row" class="row-fluid">
           <div class="col-md-6 col-xs-6 yellow-strip"></div>
           <div class="col-md-6 col-xs-6 blue-strip"></div>
          
         
        </div>
      </div>
    </section>
     



    <section id="course-content">
     <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-sm-4 col-md-3 columns">
            
                <div class="nav-side-menu">
                        <div class="brand">Courses</div>
                        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                      
                            <div class="menu-list">
                                  {% if streams %}
                                    
                                <ul id="menu-content" class="menu-content out collapse in">
                             
                                   {% for stream in streams%}

                                    {% if selected_course.category.stream.title == stream.title %} 

                                        <li  data-toggle="collapse" data-target="#{{stream.title}}" class="active" aria-expanded="true">
                                          <a href="#">{{stream.title}} <span class="arrow"></span></a>
                                        </li>
                                        <ul class="sub-menu collapse in" id="{{stream.title}}" aria-expanded="true">
                                        {% else %}

                                        <li  data-toggle="collapse" data-target="#{{stream.title}}" class="collapsed">
                                          <a href="#">{{stream.title}} <span class="arrow"></span></a>
                                        </li>
                                        <ul class="sub-menu collapse" id="{{stream.title}}">
                                    {% endif %}
                                       
                                    
                                    {% for course_categorie in course_categories %}          
                                      {% for course in courses %}
                                       {% if course.category == course_categorie and course.category.stream == stream %}
                                        {% ifchanged %}
                                
                                            <li class="nav-side-menu-category">{{course.category.title}}</li>{% endifchanged %}
                                             {% if selected_course == course %} <li class="active"><a href="{% url 'course_detail' pk=course.pk %}">{{course.title}}</a></li>{% else %}
                                            <li><a href="{% url 'course_detail' pk=course.pk %}">{{course.title}}</a>{% endif %}
                                            </li>
                                        
                                          {% endif %}
                                          {% endfor %}
                                            {% endfor %}
                                        </ul>
                                        

                                   
                                     {% endfor %}
                                </ul>
                               
                                {% endif %}
                         </div>
                    </div>


        </div>
      
        <div id="course_details" class="col-sm-8 col-md-9 columns">
             {% if selected_course.document %}
                <a href="../../../{{selected_course.document.file.url}}" class="btn btn-download" role="button" >Download</a> 
              {% endif %}
            <div>
         
            <h3>{{ selected_course.title }}</h3>
            <h4 style="color:#0f63ac;font-size:15px;">{{ selected_course.category.stream }} > {{ selected_course.category.title }}</h4>
            
            

            
                        <div class="panel-group wrap" id="bs-collapse">
                        {% for coursedetail in coursedetails %}
                          <div class="panel">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#" href="#{{coursedetail.cousre_details_id}}">
                              {{coursedetail.title}}
                            </a>
                          </h4>
                            </div>
                            <div id="{{coursedetail.cousre_details_id}}" class="panel-collapse collapse">
                              <div class="panel-body">
                                {{coursedetail.details_text|linebreaks}}
                              </div>
                            </div>

                          </div>
                          {% endfor %}
                          <!-- end of panel -->


                        </div>
                        <!-- end of #bs-collapse  -->
        
            </div>
          </div>
          

       
      </div>
      </div>
    </section>



    
{% endblock %}  