{% extends '../base/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load solo_tags %}
{% block content %}

{% get_solo 'posts.SiteConfiguration' as site_config %}

 
     <section id="imgBanner">
         <h2 style="font-size: 40px;">Message From The Board</h2>
     </section>

     <section id="brandstrip">
      <div class="container-fluid">
        <div id="strip-row" class="row-fluid">
           <div class="col-md-6 col-xs-6 yellow-strip"></div>
           <div class="col-md-6 col-xs-6 blue-strip"></div>
          
         
        </div>
      </div>
    </section>
     

    <section id="about-content">

         <div class="container">
           


              <div class="row" style="background-color:#f2f2f2;" >
                          <div id="about_text" class="col-md-6 columns">
                              <div class="wow fadeInLeft">
                                <h2 class="titile">Message From The Board</h2>
                               {{site_config.boards_message|linebreaks}}
                                

                                
                              </div>
                            </div>
                          <div class="col-md-6 columns">
                            
                        <img class="about-tandem img-responsive" style="padding:5%;height:400px;margin-left:60px;" src="../{{ site_config.boards_photo.url }}"/>
                              
                            </div>
                          </div>
         </div>              
        



</section>

  <section id="whytandem-content">

         <div class="container">
           


              <div class="row" style="background-color:#ffcc29;" >
                          <div class="col-md-6 columns">
                              
                               
            <img class="about-tandem img-responsive" style="padding:5%;height:400px;margin-left:60px;" src="../{{ site_config.methodology_image.url }}"/>
                                

                                
                          </div>
                          
                          <div class="col-md-6 columns">
                              
                            <div id="why-slogan-container" style="padding-top:5%;">
                                <h2 class="titile">Our Training Methodology</h2>
                               {{site_config.training_methodology|linebreaks}}
                                

                                
                              </div>
                            </div>
                              
                          </div>
              </div>
         </div>              
        



</section>





  
    
{% endblock %}  